node_modules/
.next/
dist/
.sanity/
.env.local
.env*.local
*.log
.DS_Store
.env

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.tf
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
